@font-face {
    font-family: martian;
    src: url(fonts/MartianMono-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#anim {
    filter: blur(10px);     /*BACKGROUND ANIMATION*/
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: auto;
    height: auto;
    z-index: 1;
}

#main-logo {
    margin: 20px 25px;
    position: relative;
    z-index: 2;
}

#main-logo-mini {
    display: none;
    width: 40px;
    position: relative;
    z-index: 2;
    margin: 20px 25px;
}

@media screen and (max-width: 1100px) {
    #main-logo {
        display: none;
    }

    #main-logo-mini {
        display: block;
    }
}

@media screen and (max-width: 905px) {
    #main-logo-mini {
        display: none;
    }
}

/************************
***TOP BAR STARTS HERE***
*************************/
#top-bar {
    background: linear-gradient(90deg, rgba(157,78,221,1) 0%, rgba(157,78,221,1) 55%, rgba(224,170,255,1) 100%);
    margin: 12px 0px;
    padding: 5px 25px 5px 50px;
    border-radius: 50px 0px 0px 50px;
    z-index: 15;
    position: absolute;
    right: 0;
    top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-link {
    text-decoration: none;
    margin-right: 45px;
    color: white;
    font-family: martian;
    font-size: 16px;
}

.top-link:hover {
    font-weight: bold;
    text-shadow: 0px 1px 5px white;
}

#top-link-apply {
    text-decoration: none;
    margin-right: 45px;
    color: #9D4EDD;
    font-family: martian;
    font-size: 16px;
    border: 2px solid #9d4edd;
    background-color: white;
    padding: 7px 20px;
    border-radius: 50px;
}

#top-link-apply:hover {
    font-weight: bold;
    text-shadow: 0px 1px 5px #E0AAFF;
}

#new-badge {
    position: absolute;
    top: 0;
}
.top-link-disabled {
    margin: 0px 45px 0px 0px;
    color: rgb(214, 214, 214);
    font-family: martian;
    font-size: 16px;
}

.top-link2 {
    text-decoration: none;
    font-family: martian;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-right: 20px;
}

#main-logo-mini-white {
    display: none;
    width: 25px;
    margin: 10px;
}

#sidebar-menu {
    display: none;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #9D4EDD;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }

  .side-nav-links {
    background-color: #E0AAFF;
    border-radius: 15px;
    margin: 15px;
    color: #5A189A;
    font-family: martian;
  }
  
  .side-nav a:hover {
    color: #f1f1f1;
  }
  
  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }

  #side-nav-openbtn {
    background-color: white;
    color: #9D4EDD;
    font-size: 35px;
    padding: 0px 15px 10px 15px;
    border-radius: 15px;
  }

@media screen and (max-width: 905px) {

    #top-bar {
        margin: 0px;
        padding: 5px 10px;
        border-radius: 0px;
        position: absolute;
        top: 0;
        left: 0;
    }

    #search-bar {
        display: none;
    }

    .top-link, #top-link-apply {
        font-size: 20px;
    }

    .top-link-disabled {
        font-size: 20px;
    }

    #top-link-apply {
        padding: 3px 13px;
        margin: 0px;
    }

    #new-badge {
        margin-top: 15px;
    }

    #main-logo-mini-white {
        display: flex;
    }
}

@media screen and (max-width: 855px) {
    #nav-top-links {
        display: none;
    }

    #sidebar-menu {
        display: flex;
        align-items: center;
    }
}
/* This is the end of top bar */



/*********************************
***HERO OF THE BODY STARTS HERE***
**********************************/
#hero {
    position: relative;
    z-index: 10;
    margin: 50px 70px 30px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ts1 {
    font-family: martian;   /*Your way to the*/
    color: #333333;
    font-size: 40px;
    word-spacing: -5px;
    margin: 0px;
    text-shadow: 0px 0px 10px white;
}

#ts2 {
    font-family: martian;  /*World of coding*/
    color: #3F37C9;
    margin: 10px 0px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
}

#ts3 {
    font-family: roboto;  /* Text */
    color: #333333;
    font-size: 14px;
    margin: 15px 90px 30px 0px;
    text-shadow: 0px 0px 1px white;
}

.dflex {
    display: flex;
}

#li2 {
    text-decoration: none;  /*Apply now link*/
    font-family: martian;
    font-size: 14px;
    word-spacing: -5px;
    color: white;
    background-color: #9d4edd;
    border: 2px solid #9d4edd;
    padding: 10px 20px;
    border-radius: 50px;
}

#li2:hover {
    border: 2px solid #9d4edd;
    background-color: white;
    color: #9d4edd;
    font-weight: bold;
    text-shadow: 0px 1px 5px #9d4edd;
}

#li3 {
    text-decoration: none;   /*Learn about Courses link*/
    font-family: martian;
    font-size: 14px;
    word-spacing: -5px;
    border: 2px solid #9d4edd;
    color: #9d4edd;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 15px;
}

#li3:hover {
    background-color: #9d4edd;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 5px white;
}

#dev-anim {
    position: relative;
    width: 1500px;
    height: 100%;
    filter: drop-shadow(0px 15px 45px #4361EE);
}

@media screen and (max-width: 1168px) {
    #hero {
        margin: 30px 50px 30px 70px;
    }
}

@media screen and (max-width: 988px) {
    #ts1 {
        font-size: 3vw;
    }
    #ts2 {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 905px) {
    #hero {
        margin-top: 150px;
    }
}

@media screen and (max-width: 852px) {
    #li2, #li3 {
        font-size: 13.6px;
    }
}

@media screen and (max-width: 835px) {
    #hero {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 70px 60px 50px 60px;
    }

    #ts1 {
        font-size: 6vw;
        text-align: left;
    }

    #ts2 {
        font-size: 7.5vw;
    }

    #ts3 {
        font-size: 3vw;
        margin: 20px 0px;
    }

    #dev-anim {
        width: 100%;
        height: auto;
    }

    .dflex {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    #li2, #li3 {
        margin: 10px 0px;
        font-size: 3vw;
        text-align: center;
        padding: 20px;
    }
}

@media screen and (max-width: 420px) {
    #hero {
        margin: 70px 25px 50px 25px;
    }

    #ts3 {
        font-size: 20px;
    }

    #li2, #li3 {
        font-size: 20px;
    }
}
/* This is the end of HERO */


/***************************
***STORE PART STARTS HERE***
***************************/
#new-store {
    position: relative;
    z-index: 13;
    margin: 100px 70px 100px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#store-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px;
}

#ts7 {
    font-family: martian;   /*Check out our new*/
    color: #333333;
    font-size: 40px;
    word-spacing: -5px;
    margin: 0px;
    text-shadow: 0px 0px 10px white;
    font-weight: bolder;
}

#ts8 {
    font-family: martian;  /*Store!*/
    color: #3F37C9;
    margin: 10px 0px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
    margin-bottom: 30px;
}

#li-store {
    text-decoration: none;  /*Go to Store link*/
    font-family: martian;
    font-size: 14px;
    word-spacing: -5px;
    color: white;
    background-color: #9d4edd;
    border: 2px solid #9d4edd;
    padding: 10px 20px;
    border-radius: 50px;
    }
    
#li-store:hover {
    border: 2px solid #9d4edd;
    background-color: white;
    color: #9d4edd;
    font-weight: bold;
    text-shadow: 0px 1px 5px #9d4edd;
}

#store-img {
    margin: 0px;
    width: 700px;
    height: auto;
    filter: drop-shadow(0px 35px 55px rgb(30, 36, 104));
}

@media screen and (max-width: 1168px) {
    #new-store {
        margin: 100px 70px 100px 70px;
    }

    #store-img {
        width: 550px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 900px) {
    #store-img {
        width: 450px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 835px) {
    #new-store {
        flex-direction: column-reverse;
        /* align-items: center; */
        margin: 70px 100px 50px 100px;
    }

    #ts7 {
        font-size: 6vw;
    }

    #ts8 {
        font-size: 7.5vw;
    }

    #store-img {
        margin-top: 50px;
        margin-bottom: 90px;
        align-self: center;
        width: 100%;
        height: auto;
    }

    #li-store {
        align-self: stretch;
        font-size: 3vw;
        text-align: center;
        padding: 20px;
    }
}

@media screen and (max-width: 540px) {
    #new-store {
        margin: 70px 25px 50px 25px;
    }

    #li-store {
        font-size: 20px;
    }
}

/****************************
***AUTHOR PART STARTS HERE***
*****************************/
#author-part {
    background-color: rgb(227, 227, 227);
    margin: 95px 0px 0px 0px;
    padding: 40px 0px 20px 0px;
    position: relative;
    z-index: 16;
}

#ts4 {
    font-family: martian;  /*About the author heading*/
    color: #333333;
    font-size: 20px;
    text-align: center;
}

#author-part-2 {
    display: flex;
    justify-content: center;
}

#img-author {
    width: 200px;           /*AUTHOR image*/
    border-radius: 50%;
    margin: 30px;
}

#ts5 {
    font-family: roboto;
    color: #333333;
    margin: 50px 0px;
    inline-size: 500px;
    /* text-wrap: balance; */
}
/* Here ABOUT AUTHOR part ends */


/*****************************
***COUNTRY PART STARTS HERE***
******************************/
#country-part {
    position: relative;
    z-index: 14;
}

#ts6 {
    font-family: martian;  /*Head text*/
    color: #333333;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

#uz-pictures {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: space-between;
    margin: 40px 150px;
    gap: 40px;
}

#uz-imgs-1 {
    width: 353px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-1:hover {
    transform: scale(1.3);
}

#uz-imgs-2 {
    width: 355px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-2:hover {
    transform: scale(1.3);
}

#uz-imgs-3 {
    width: 418px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-3:hover {
    transform: scale(1.3);
}

#uz-imgs-4 {
    width: 567px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-4:hover {
    transform: scale(1.25);
}

#uz-imgs-5 {
    width: 598px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-5:hover {
    transform: scale(1.3);
}

#uz-imgs-6 {
    width: 512px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-6:hover {
    transform: scale(1.25);
}

#uz-imgs-7 {
    width: 654px;
    border-radius: 15px;
    transition: transform .2s;
}

#uz-imgs-7:hover {
    transform: scale(1.2);
}

/***********************
***FOOTER STARTS HERE***
************************/
footer {
    background-color: #5A189A;
    margin: 0px;
    padding: 100px 150px 50px 150px;
    position: absolute;
    bottom: auto;
    width: 100%;
    height: auto;
    z-index: 16;
}

#footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.foot-text {
    font-family: roboto;
    color: white;
    font-size: 14px;
    margin: 0px;
}

#foot-logo {
    width: 250px;
    margin-bottom: 20px;
}

#ts9 {
    color: white;
    font-family: martian;
    font-size: 20px;
    font-weight: bolder;
}

#foot-ul {
    list-style: none;
    margin-left: -30px;
}

.foot-link {
    text-decoration: none;
    font-family: roboto;
    font-size: 14px;
    color: white;
}

.foot-link:hover {
    color: #E0AAFF;
}

#download-bgpdf-btn {
    width: 200px;
    margin: 0px 0px 35px 0px;
}

#download-bgpdf-btn:hover {
    filter: drop-shadow(0px 0px 5px white);
}

#foot3 {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}

#foot-lin {
    width: 50px;
    margin-right: 15px;
    
}

#foot-lin:hover {
    filter: drop-shadow(0px 0px 5px white);
}

#foot-inst {
    width: 50px;
    margin-right: 15px;
    margin-left: 10px;
}

#foot-inst:hover {
    filter: drop-shadow(0px 0px 5px white);
}

#foot-tw {
    width: 50px;
    margin-left: 10px;
}

#foot-tw:hover {
    filter: drop-shadow(0px 0px 5px white);
}

@media screen and (max-width: 1060px) {
    footer {
        padding: 100px 70px 50px 70px;
    }
}

@media screen and (max-width: 835px) {
    #footer-flex {
        display: grid;
        grid-template-columns: auto auto;
    }

    #foot2 {
        grid-row-start: 2;
        margin: 30px 0px 10px -5px;
    }

    #ts9 {
        font-size: 3vw;
    }

    .foot-link {
        font-size: 3vw;
    }

    #foot3 {
        grid-row-start: 2;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 616px) {
    #footer-flex {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .foot-link, #ts9 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 400px) {
    #foot-logo {
        width: 100%;
    }
}


/******************************
***ABOUT BB PART STARTS HERE***
*******************************/
#about-bitb {
    margin: 100px 150px 100px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}

#ts10 {
    font-family: martian;  /*BitBrains*/
    color: #3F37C9;
    margin: 10px 0px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
    margin-bottom: 30px;
}

#ts11 {
    font-family: martian;   /*Learn like a pro subheader*/
    color: #333333;
    font-size: 40px;
    word-spacing: -5px;
    margin: 0px;
    text-shadow: 0px 0px 10px white;
}

#ts12 {
    font-family: roboto;  /* Text */
    color: #333333;
    font-size: 14px;
    margin: 15px 100px 30px 0px;
    text-shadow: 0px 0px 1px white;
}

#dev-about-img {
    width: 550px;
    height: auto;
    filter: drop-shadow(0px 15px 25px #3F37C9);
}

@media screen and (max-width: 1130px) {
    #about-bitb {
        margin: 100px 120px;
    }

    #dev-about-img {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 1030px) {
    #about-bitb {
        margin: 100px 80px;
    }

    #dev-about-img {
        width: 450px;
        height: auto;
    }
}

@media screen and (max-width: 940px) {
    #about-bitb {
        margin: 80px 50px;
    }

    #dev-about-img {
        width: 420px;
        height: auto;
    }

    #ts10 {
        font-size: 40px;
        margin-bottom: 5px;
    }

    #ts11 {
        font-size: 25px;
    }

    #ts12 {
        margin: 15px 50px 30px 0px;
    }
}

@media screen and (max-width: 835px) {
    #about-bitb {
        flex-direction: column-reverse;
        margin: 170px 60px 30px 60px;
    }

    #dev-about-img {
        max-width: 650px;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    #ts10 {
        font-size: 60px;
        margin-bottom: 15px;
    }

    #ts11 {
        font-size: 40px;
    }

    #ts12 {
        margin: 15px 0px;
        font-size: 20px;
    }
}


/*****************************
***COURSES PART STARTS HERE***
******************************/
#courses-hero {
    margin: 80px 150px 100px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}

#ts13 {
    font-family: martian;  /*All courses*/
    color: #3F37C9;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
    margin-bottom: 30px;
}

#courses-text {
    font-family: roboto;   /*About courses text*/
    color: #333333;
    font-size: 14px;
    margin: 0px;
    padding-right: 180px;
    text-shadow: 0px 0px 10px white;
}

#learner-img {
    width: 500px;
    filter: drop-shadow(0px 15px 15px #7bafec);
}

#ts15 {
    font-family: martian;  /*All courses*/
    color: #3F37C9;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0px 0px 15px white;
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 5;
}

#courses-list {
    margin: 20px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    position: relative;
    z-index: 5;
}

.course-card {
    background-color: white;
    width: 300px;
    height: 560px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    filter: drop-shadow(0px 5px 5px #E0AAFF);
    margin: 10px;
}

.c-card-title {
    font-family: martian;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 10px;
}

.c-card-text {
    font-family: roboto;
}

.c-card-applybtn {
    text-decoration: none;
    text-align: center;
    background-color: #4361EE;
    border-radius: 15px;
    padding: 12px;
    color: white;
    margin-top: 10px;
}

.c-card-applybtn:hover {
    background-color: #3F37C9;
}


/*****************************
***CONTACT PAGE STARTS HERE***
******************************/
#contact-hero {
    margin: 80px 150px 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-img {
    width: 500px;
    filter: drop-shadow(0px 15px 15px #7bafec);
    z-index: 5;
}

#ts14 {
    font-family: martian;  /*We'd love to hear from*/
    color: #3F37C9;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
    margin-bottom: 30px;
    text-align: left;
    padding-right: 30px;
}

#contact-text {
    font-family: roboto;   /*Contacts subheader*/
    color: #333333;
    font-size: 14px;
    margin: 0px;
    padding-right: 180px;
    text-shadow: 0px 0px 10px white;
}

#contacts {
    margin: 50px 150px 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#phone-c, #mail-c, #address-c {
    display: flex;
    align-items: center;
}

.c-icons {              /*Icons of Contacts*/
    width: 50px;
    margin: 15px 0px;
}

.c-texts {
    text-decoration: none;
    margin-left: 10px;
    font-family: martian;
    font-size: 18px;
}

.c-texts:hover {
    color: #333333;
}


/***************************
***STORE PAGE STARTS HERE***
****************************/
#store-hero {
    margin: 80px 150px 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}

.store-mini-img {
    width: 170px;
    filter: drop-shadow(0px 15px 25px #59189a65);
}

#store-hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sts1 {
    font-family: martian;   /*We are excited to present you our*/
    color: #333333;
    font-size: 30px;
    word-spacing: -5px;
    margin: 0px;
    text-shadow: 0px 0px 10px white;
    text-align: center;
}

#sts2 {
    font-family: martian;  /*New Store*/
    color: #3F37C9;
    margin: 10px 0px;
    font-size: 90px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
}

#store-main-items {
    margin: 80px 150px 30px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.store-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

.store-item-img {
    position: relative;
    width: 300px;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.store-item-img-hover {
    position: absolute;
    width: 300px;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    transition: opacity .2s;
}

.store-item-img-hover:hover {
    opacity: 1;
}

.store-item-name {
    margin: 10px 0px;
    width: 300px;
    font-family: martian;
    font-size: 18px;
    font-weight: 800;
    /* text-wrap: balance; */
    color: #333333;
}

.store-item-price {
    align-self: end;
    font-family: martian;
    font-size: 18px;
    color: #38B000;
}

.store-item-buy-btn {
    width: 100%;
    text-decoration: none;  /*Buy button*/
    font-family: martian;
    font-size: 14px;
    word-spacing: -5px;
    color: white;
    background-color: #4361EE;
    border: 2px solid #4361EE;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
}

.store-item-buy-btn:hover {
    border: 2px solid #4361EE;
    background-color: white;
    color: #4361EE;
    font-weight: bold;
    text-shadow: 0px 1px 5px #4361EE;
}

/***************************
***APPLY PAGE STARTS HERE***
****************************/
#apply-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    margin: 50px 150px 120px 150px;
}

#ts16 {
    font-family: martian;   /*Become a part of coders*/
    color: #333333;
    font-size: 30px;
    word-spacing: -5px;
    margin: 0px;
    text-shadow: 0px 0px 10px white;
}

#ts17 {
    font-family: martian;  /*Today*/
    color: #3F37C9;
    margin: 10px 0px;
    font-size: 90px;
    font-weight: 900;
    text-shadow: 0px 0px 15px white;
}

#ts18 {
    font-family: roboto;   /*Text*/
    color: #333333;
    font-size: 14px;
    margin: 0px;
    padding-right: 180px;
    text-shadow: 0px 0px 10px white;
}

#apply-hero-img {
    width: 500px;
    filter: drop-shadow(0px 15px 15px #7bafec);
}

/* Application Field */
#apply-apply {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    z-index: 5;
    margin: 60px 150px 100px 150px;
}

#ts19 {
    font-family: martian;   /*Languages studied*/
    color: #333333;
    font-size: 20px;
    margin: 20px 0px;
    text-shadow: 0px 0px 10px white;
}

#pr-languages-img {
    height: 380px;
    margin-right: 20px;
    filter: drop-shadow(0px 4px 5px #7bafec);
}

#apply-apply-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    padding: 40px;
    width: 450px;
    height: auto;
    margin-top: 20px;
}

#ts20 {
    font-family: martian;   /*Send application*/
    color: #333333;
    font-size: 30px;
    font-weight: 800;
    word-spacing: -5px;
    margin: 0px;
    text-shadow: 0px 0px 10px white;
}

#ts21 {
    font-family: roboto;   /*every 10 days*/
    color: #333333;
    font-size: 14px;
    margin: 10px auto 30px auto;
    text-shadow: 0px 0px 10px white;
}

#application {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apply-inpfield {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #bdbdbd;
    font-family: martian;
    font-size: 14px;
    color: #333333;
}

#apply-sbmbtn {
    background-color: #4361EE;
    border: none;
    padding: 20px;
    border-radius: 25px;
    color: white;
    font-family: martian;
    margin: 15px 0px;
}

#apply-sbmbtn:hover {
    background-color: #3F37C9;
}

#apply-checktandc {
    display: flex;
    align-items: start;
    gap: 10px;
}

#termsandcondcheck {
    margin: 5px 0px;
}

#ts22 {
    font-size: 13px;
}

/********************************
*** - - FOOTER FOR STORES - - ***
*********************************/
#store-footer {
    background-color: #5A189A;
    margin: 0px;
    padding: 100px 150px 50px 150px;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 1060px) {
    #store-footer {
        padding: 100px 70px 50px 70px;
    }
}

/*****************************
*** - - STORE PRODUCTS - - ***
******************************/
.product-box {
    background-color: white;
    margin: 50px 100px;
    border-radius: 35px;
    display: flex;
    filter: drop-shadow(0px 10px 15px #53a3ff73);
}

.product-description {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.descr-title {
    font-family: martian;
    color: #333333;
    word-spacing: -5px;
    line-height: 42px;
}

.descr-specs {
    font-family: roboto;
    color: #333333;
    font-size: 14px;
    margin-right: 130px;
}

.product-addtocart-btn {
    width: 300px;
    text-decoration: none;  /*Add to cart button*/
    font-family: martian;
    font-size: 14px;
    word-spacing: -5px;
    color: white;
    background-color: #4361EE;
    border: 2px solid #4361EE;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    margin: 0px 20px 17px 0px;
    align-self: end;
}
    
.product-addtocart-btn:hover {
    border: 2px solid #4361EE;
    background-color: white;
    color: #4361EE;
    font-weight: bold;
    text-shadow: 0px 1px 5px #4895EF;
}

/*******************
*** - - CART - - ***
********************/

#cart-btn {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 5;
    width: 80px;
    height: 80px;
    background-color: #3F37C9;
    border-radius: 50%;
}

#cart-image-btn {
    width: 50px;
    height: auto;
    margin: 21px 0px 0px 13px;
}

#cart-btn:hover {
    background-color: #4361EE;
}

#cartItems {
    margin: 100px auto;
    background-color: white;
    width: 650px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    filter: drop-shadow(0px 10px 15px #53a3ff73);
}

#textc2 {
    font-family: martian;
    color: #333333;
    word-spacing: -5px;
    line-height: 42px;
}

#checkout-btn {
    width: 100%;
    text-decoration: none;  /*checkout button*/
    font-family: martian;
    font-size: 15px;
    word-spacing: -5px;
    color: white;
    background-color: #4361EE;
    border: 2px solid #4361EE;
    padding: 12px 20px;
    border-radius: 50px;
    text-align: center;
}

#checkout-btn:hover {
    border: 2px solid #4361EE;
    background-color: white;
    color: #4361EE;
    font-weight: bold;
    text-shadow: 0px 1px 5px #4895EF;
}